<html lang="pt">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <style>
        .box {
            color:white;
            padding:10px;
            text-align:center;
            border-style: inset;
        }
        .green {
            background:green;
        }
        .orange {
            background:orange;
        }
        .red {
            background: red;
        }
        .blue {
            background: blue;
        }
    </style>
</head>
<body ng-app="exemplo" ng-cloak>
    <div ng-controller="toastController">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Hello World Angular Material</h2>
            </div>
        </md-toolbar>
        <md-content flex layout-padding>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <md-button>Clique aqui!</md-button>
            <md-button class="md-raised md-primary md-hue-1">Clique aqui!</md-button>
            <md-button class="md-primary">Clique aqui!</md-button>
            <md-button class="md-primary md-hue-1">Clique aqui!</md-button>
            <md-button class="md-primary md-hue-2">Clique aqui!</md-button>
            <md-button class="md-accent">ou talvez aqui</md-button>
            <md-button class="md-warn">Cuidado</md-button>
        </md-content>
    </div>

    <hr>

    <div ng-controller="autoCompleteController as estApp" layout="column" ng-cloak>
        <md-content class="md-padding">
            <form ng-submit="$event.preventDefault()">
                <md-autocomplete
                    ng-disabled="estApp.isDisabled"
                    md-no-cache="estApp.noCache"
                    md-selected-item="estApp.selectedItem"
                    md-search-text-change="estApp.searchTextChange(estApp.searchText)"
                    md-search-text="estApp.searchText"
                    md-selected-item-change="estApp.selectedItemChange(item)"
                    md-items="item in estApp.queryBusca(estApp.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="Digite o nome do estado...">
                    <md-item-template>
                        <span md-highlight-text="estApp.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        Nenhum resultado encontrado para "{{estApp.searchText}}".
                        <a ng-click="estApp.novoEstado(estApp.searchText)">Criar um novo!</a>
                    </md-not-found>
                </md-autocomplete>
                <br>
                <md-checkbox ng-model="estApp.simularQuery">Exibir barra de progresso?</md-checkbox>
                <md-checkbox ng-model="estApp.noCache">Desabilitar cache?</md-checkbox>
                <md-checkbox ng-model="estApp.isDisabled">Desabilitar campo de busca?</md-checkbox>
            </form>
        </md-content>
    </div>

    <hr>

    <div ng-controller="bottomSheetController as ctrl" layout="column">
        <md-content class="md-padding">
            <form ng-submit="$event.preventDefault()">
                <md-button class="md-raised md-primary" ng-click="abrirBottomSheet()">
                    Abrir Bottom Sheet!
                </md-button>
            </form>
        </md-content>
    </div>

    <hr>

    <div id="layoutContainer" ng-controller="layoutController as ctrl" style="height:100px;" ng-cloak>
        <div layout="row" layout-xs="column">
            <div flex class="green box">Linha 1: Item 1</div>
            <div flex="20" class="orange box">Linha 1: Item 2</div>
        </div>
        <div layout="column" layout-xs="column">
            <div flex="33" class="green box">Coluna 1: item 1</div>
            <div flex="66" class="orange box">Coluna 1: item 2</div>
        </div>
    </div>

    <hr>

    <div id="layoutContainer" ng-controller="layoutController as ctrl" style="height:100px;" ng-cloak>
        <div layout="row" layout-wrap>
            <div flex="30" class="red box">
                [flex="30"]
            </div>
            <div flex="45" class="blue box">
                [flex="45"]
            </div>
            <div flex="25" class="red box">
                [flex="25"]
            </div>
            <div flex="33" class="red box">
                [flex="33"]
            </div>
            <div flex="66" class="blue box">
                [flex="66"]
            </div>
            <div flex="50" class="blue box">
                [flex="50"]
            </div>
            <div flex class="red box">
                [flex]
            </div>
        </div>
    </div>
</body>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script src="node_modules/angular-aria/angular-aria.js"></script>
<script src="node_modules/angular-messages/angular-messages.js"></script>
<script src="node_modules/angular-material/angular-material.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</html>